.hero_container{
    /* background-color:red; */
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url(${imagePaths[currentImageIndex]}); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://img1.wsimg.com/isteam/ip/94953300-27f2-45f6-a137-8c68f6ffb407/1.JPG/:/rs=w:767,m); */
    position: relative;
}
.hero_text_container{
    color: ghostwhite;
    font-size: 100px;
    text-transform: capitalize;
    stroke-width: 1px;
    stroke: ghostwhite;
    color: transparent;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    cursor: pointer;
    color: ghostwhite;
    transition: 2s;
}
